<!-- Formulaire d'édition d'un gossip -->
<form action= <%= gossip_index_path %> method="PATCH">
      <h2 class="card-title">Edit Gossip:</h2><br /> 
      <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> > 
      <h3 class="card-title">Title :</h3>
      <input type="text" name="title"><br /> <br />
      <h3 class="card-title">Content :</h3>
      <input type="text" name="content"><br /> <br />
      <input type="submit" value="Validate">
</form>