<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Hello ! You are on the best Gossips' Site !</h1>
    
    <a href="/gossips/new/">New Gossip</a>

    <% gossips.each do |gossip| %>
        <p>
          <%= gossip.author %><br/>
          <%= gossip.content %>
        </p>
      <% end %>
  </body>
</html>